In [ ]:
import numpy as np

# Question 1

### Question

What data type is each of the following?

* 5
* 5.0
* 5 > 1
* '5'
* 5 * 2
* '5' * 2
* '5' + '2'
* 5 / 2
* 5 % 2
* {5, 2, 1}
* 5 == 3
* Pi (the number)

### Answers

* 5 --> **type *int*** (Integer)
* 5.0 --> **type *float*** (Decimal)
* 5 > 1 --> This expression would result in the boolean value *True* (**type *bool***)
* '5' --> Since the number is enclosed in single quotes, it is of **type *str*** (String)
* 5 * 2 --> This performs the usual multiplication, resulting in the number 10, which is of **type *int***
* '5' * 2 --> This would produce '55' as the result which is of **type *str*** (String)
* '5' + '2' --> This is the concatenation operation and results in '52' which is of **type *str*** (String)
* 5 / 2 --> This performs the usual division and results in the number 2.5 which is of **type *float*** (Decimal)
* 5 % 2 --> This produces the remainder value when 5 is divided by 2, which is 1. Hence the result is of **type *int*** (Integer)
* {5, 2, 1} --> **type *set***
* 5 == 3 --> This expression results in the boolean value *False* (**type *bool***)
* Pi (the number) --> Since the number Pi is a decimal, it is of **type *float***

The answers are justified using the following Python script.

In [ ]:
print("5: ", type(5))
print("5.0: ", type(5.0))
print("5 > 1: ", type(5 > 1))
print("'5'': ", type('5'))
print("5 * 2': ", type(5*2))
print("'5' * 2': ", type('5'*2))
print("'5' + '2': ", type('5' + '2'))
print("5 / 2: ", type(5/2))
print("5 % 2: ", type(5 % 2))
print("{5, 2, 1}: ", type({5, 2, 1}))
print("5 == 3: ", type(5 == 3))
print("Pi: ", type(np.pi))

5:  <class 'int'>
5.0:  <class 'float'>
5 > 1:  <class 'bool'>
'5'':  <class 'str'>
5 * 2':  <class 'int'>
'5' * 2':  <class 'str'>
'5' + '2':  <class 'str'>
5 / 2:  <class 'float'>
5 % 2:  <class 'int'>
{5, 2, 1}:  <class 'set'>
5 == 3:  <class 'bool'>
Pi:  <class 'float'>

# Question 2

### Question

Write (and evaluate) python expressions that answer these questions:

> a. How many letters are there in 'Supercalifragilisticexpialidocious'?

> b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

> c. Which of the following words is the longest:
Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or Bababadalgharaghtakamminarronnkonn?

> d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

### Answers

In [ ]:
# a. How many letters are there in 'Supercalifragilisticexpialidocious'?
print("Number of letters in 'Supercalifragilisticexpialidocious': ", len('Supercalifragilisticexpialidocious'))

Number of letters in 'Supercalifragilisticexpialidocious':  34

In [ ]:
# b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?
word = 'Supercalifragilisticexpialidocious'
chk_word = 'ice'
if chk_word in word:
  print("Yes, 'Supercalifragilisticexpialidocious' contains 'ice' as a substring.")
else:
  print("No, 'Supercalifragilisticexpialidocious' does not contain 'ice' as a substring.")

Yes, 'Supercalifragilisticexpialidocious' contains 'ice' as a substring.

In [ ]:
# c. Which of the following words is the longest:
#     Supercalifragilisticexpialidocious, Honorificabilitudinitatibus,
#     or Bababadalgharaghtakamminarronnkonn?

words = ['Supercalifragilisticexpialidocious', 'Honorificabilitudinitatibus',
         'Bababadalgharaghtakamminarronnkonn']
word_lengths = {}
for word in words:
  word_lengths[word] = len(word)

max_length = max(word_lengths.values())

print(f"The longest word(s) (with length = {max_length}) in the given list of words is/are: \n")
for word, length in word_lengths.items():
  if length == max_length:
    print(word)

The longest word(s) (with length = 34) in the given list of words is/are:

Supercalifragilisticexpialidocious
Bababadalgharaghtakamminarronnkonn

In [ ]:
# d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin',
#    'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

word_list = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']

sorted_word_list = sorted(word_list)

print("The composer who comes first in the dictionary is: ", sorted_word_list[0])
print("The composer who comes last in the dictionary is: ", sorted_word_list[-1])

The composer who comes first in the dictionary is:  Bartok
The composer who comes last in the dictionary is:  Buxtehude

# Question 3

### Question

Implement function *triangleArea(a,b,c)* that takes as input the lengths of the 3 sides of a triangle and returns the area of the triangle. By Heron's formula, the area of a triangle with side lengths a, b, and c is

$$\sqrt{s(s - a)(s -b)(s -c)}$$

where
$$s = (a +b + c) /2.$$

### Answer

In [ ]:
def triangleArea(a, b, c):
  """
  Function that takes as input the lenghts of the 3 sides of a triangle
  and returns the area of the triangle using Heron's formula.

  Args: a: float: length of 1st side of the triangle
        b: float: length of 2nd side of the triangle
        c: float: length of 3rd side of the triangle
  Return: float: The area of the triangle with lengths of sides a, b, & c,
                 calculated using Heron's formula.
  """

  s = (a + b + c) / 2
  area = (s * (s - a) * (s - b) * (s - c))**(1/2)
  return(area)

In [ ]:
# test
triangleArea(2,2,2)

1.7320508075688772

# Question 4

### Question

Write a program in python to separate odd and even integers in separate arrays.

### Answer

In [ ]:
# program + results from the test data
n_elements = int(input("Input the number of elements to be stored in the array: "))
print(f"Input the {n_elements} elements in the array: ")
even_elements = []
odd_elements = []
for i in range(n_elements):
  element = int(input(f"element - {i} : "))
  if element % 2 == 0:
    even_elements.append(element)
  else:
    odd_elements.append(element)

print("The Even elements are: ")
print(*even_elements)
print("The Odd elements are: ")
print(*odd_elements)

Input the number of elements to be stored in the array: 5
Input the 5 elements in the array:
element - 0 : 25
element - 1 : 47
element - 2 : 42
element - 3 : 56
element - 4 : 32
The Even elements are:
42 56 32
The Odd elements are:
25 47

# Question 5

### Question

a. Write a function *inside(x, y, x1, y1, x2, y2)*
that returns True or False depending on whether the point *(x,y)* lies in the rectangle with lower left corner *(x1,y1)* and upper right corner *(x2,y2)*.

b. Use function *inside()* from part a. to write an expression that tests whether the point (1,1) lies in both of the following rectangles: one with lower left corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower left corner (0.5, 0.2) and upper right corner (1.1, 2).

### Answer

In [ ]:
# a.

def inside(x, y, x1, y1, x2, y2):
  """
  Function that checks whether a given point (x, y) lies inside the rectangle
  with lower left corner (x1, y1) and upper right corner (x2, y2).

  Args: x, y: float: Point to be checked
        x1, y1: float: lower left corner of the rectangle
        x2, y2: float: upper right corner of the rectangle

  Return: bool: True if the point lies inside the rectangle, and False otherwise.
  """

  x_condition = (x > x1) and (x < x2)
  y_condition = (y > y1) and (y < y2)
  if x_condition and y_condition:
    return(True)
  else:
    return(False)

In [ ]:
# test data 1
inside(1,1,0,0,2,3)

True

In [ ]:
# test data 2
inside(-1,-1,0,0,2,3)

False

In [ ]:
# b.

inside(1, 1, 0.3, 0.5, 1.1, 0.7) and inside(1, 1, 0.5, 0.2, 1.1, 2)

False

# Question 6

### Question

You can turn a word into pig-Latin using the following two rules (simplified):
* If the word starts with a consonant, move that letter to the end and append 'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.
* If the word starts with a vowel, simply append 'way' to the end of the word. For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . For our purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant).

Write a function pig() that takes a word (i.e., a string) as input and returns its pig-Latin form. Your function should still work if the input word contains upper case characters. Your output should always be lower case however.

### Answer

In [ ]:
def pig(word):
  """
  Function to turn a word into pig-Latin

  Args: word: str: Word to be turned into pig-Latin
  Return: str: the given word in pig-Latin

  """

  vowels = ['a', 'e', 'i', 'o', 'u']
  word = word.lower()

  if word[0] in vowels:
    return(word + 'way')
  else:
    return(word[1:] + word[0] + 'ay')

In [ ]:
# test case 1
pig('happy')

'appyhay'

In [ ]:
# test case 2
pig('Enter')

'enterway'

# Question 7

### Question

File *bloodtype1.txt* records blood-types of patients (A, B, AB, O or OO) at a clinic. Write a function *bldcount()* that reads the file with name name and reports (i.e., prints) how many patients there are in each bloodtype.

### Answer

In [ ]:
def bldcount(name):
  """
  Function that reads the given file and reports how many patients
  there are in each bloodtype.

  Args: name: str: Filepath
  Returns: None
  """

  with open(name) as f:
    records = f.read()

  records = records.split(' ')

  records_count = {}
  for bloodtype in records:
    if bloodtype != '\n':
      if bloodtype in records_count:
        records_count[bloodtype] += 1
      else:
        records_count[bloodtype] = 1

  for bloodtype in ['A', 'B', 'AB', 'O', 'OO']:
    if bloodtype in records_count:
      count = records_count[bloodtype]
      if count > 1:
        print(f"There are {count} patients of blood type {bloodtype}.")
      else:
        print(f"There is {count} patient of blood type {bloodtype}.")
    else:
      print(f"There are no patients of blood type {bloodtype}.")

In [ ]:
bldcount('bloodtype1.txt')

There are 15 patients of blood type A.
There is 1 patient of blood type B.
There are 13 patients of blood type AB.
There are 15 patients of blood type O.
There are no patients of blood type OO.

# Question 8

### Question

Write a function *curconv()* that takes as input:
1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or 'EUR' for the Euro)
2. an amount

and then converts and returns the amount in US dollars.

The currency rates you will need are stored in file *currencies.txt*:

### Answer

In [ ]:
def curconv(currency, amount):
  """
  Function to convert various currencies to US dollars.

  Args: currency: str: The currency code to be converted
      : amount: float: The currency amount to be converted

  Returns: float/str: The converted amount if the database has the converison rate
                      for the given currency. If not, then a message informing the
                      unavailability of the conversion rate is returned.
  """

  conversion = ''
  with open('currencies.txt', 'r') as f:
    for line in f:
      if line[:3] == currency:
        conversion = line
        break
  if conversion == '':
    return(f'Sorry, {currency} to USD conversion rate not available.')

  code, rate, _ = line.split('\t')
  rate = float(rate)
  amount_USD = amount*rate

  return(amount_USD)

In [ ]:
# test case 1
curconv('EUR', 100)

122.96544

In [ ]:
# test case 2
curconv('JPY', 100)

1.241401

# Question 9

### Question

Each of the following will cause an exception (an error). Identify what type of exception each will cause.

### Answer

* Trying to add incompatible variables, as in adding 6 + 'a'
> * **TypeError**
* Referring to the 12th item of a list that has only 10 items
> * **IndexError**
* Using a value that is out of range for a function's input, such as calling *math.sqrt(-1.0)*
> * **ValueError**
* Using an undeclared variable, such as
print(x) when x has not been defined
> * **NameError**
* Trying to open a file that does not exist, such as mistyping the file name or looking in the wrong directory.
> * **FileNotFoundError**

The answers are justified using the following Python script.

In [ ]:
6 + 'a'

TypeError: ignored

In [ ]:
test_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
test_list[12]

IndexError: ignored

In [ ]:
import math
math.sqrt(-1.0)

ValueError: ignored

In [ ]:
print(x)

NameError: ignored

In [ ]:
open('FileThatDoesNotExist.txt')

FileNotFoundError: ignored

# Question 10

# Question

Encryption is the process of hiding the meaning of a text by substituting letters in the message with other letters, according to some system. If the process is successful, no one but the intended recipient can understand the encrypted message. *Cryptanalysis* refers to attempts to undo the encryption, even if some details of the encryption are unknown (for example, if an encrypted message has been intercepted). The first step of cryptanalysis is often to build up a table of letter frequencies in the encrypted text. Assume that the string *letters* is already defined as *'abcdefghijklmnopqrstuvwxyz'*. Write a function called *frequencies()* that takes a string as its only parameter, and returns a list of integers, showing the number of times each character appears in the text. Your function may ignore any characters that are not in letters.

### Answer

In [ ]:
letters = 'abcdefghijklmnopqrstuvwxyz'

def frequencies(text):
  """
  Function that generates a list of integers that are the counts of
  letters appearing in the text, that are also in the letters. This
  function is case-sensitive, meaning, it will not count capital
  letters which are not in the letters string.

  Args: text: str: Text to be encrypted
  Return: list: List of number of letters (integers)

  """

  count_dict = {}
  for letter in text:
    if letter in letters:
      if letter in count_dict:
        count_dict[letter] += 1
      else:
        count_dict[letter] = 1

  count_list = []
  for letter in letters:
    if letter in count_dict:
      count_list.append(count_dict[letter])
    else:
      count_list.append(0)
  return(count_list)

In [ ]:
# test case 1
frequencies('The quick red fox got bored and went home.')

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 2, 1, 0, 1, 1, 0, 0]

In [ ]:
# test case 2
frequencies('apple')

[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]